.chats {
    max-width: 700px;
    overflow-y: auto;
    padding: 8rem;
    scrollbar-width: thin;           /* For Firefox */
    scrollbar-color: transparent transparent;
}

.userDiv {
    display: flex;
    justify-content: flex-end;
}

.userMessage {
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 14rem;
    max-width: 500px;
    width: fit-content;
}

.gptDiv {
    text-align: left;
    font-size: 0.9rem;
}

.hljs {
    border-radius: 10px !important;
}

.pre {
    white-space: pre-wrap;
}