.chatWindow {
    background-color: #212121;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.navbar span {
    margin: 1rem 2rem;
    font-weight: 700;
}

.userIcon {
    margin: 0.6rem 1rem;
}

.user {
    background-color: #339cff;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Chat Input */
.chatInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userInput {
    width: 100%;
    position: relative;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    width: 100%;
    border: none;
    padding: 1.5rem;
    font-size: 1rem;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.05);
    box-shadow: rgba(0,0,0,0.05) 0 54px 55px,
    rgba(0,0,0,0.05) 0 -12px 30px,
    rgba(0,0,0,0.05) 0 4px 6px,
    rgba(0,0,0,0.05) 0 12px 3px,
    rgba(0,0,0,0.05) 0 -3px 5px,
}

input:focus {
    outline: none;
}

.submit {
    cursor: pointer;
    height: 35px;
    width: 35px;
    font-size: 20px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15px;
}

.submit i:hover {
    color: #fff;
}

.info {
    font-size: 0.8rem;
    padding: 0.5rem;
    color: #b4b4b4;
}

/* dropdown css */
.dropdown {
    position: absolute;
    top : 4rem;
    right: 4rem;
    width: 10rem;
    background-color: #323232;
    padding: 1rem;
    border-radius: 10px;
    text-align: left;
    z-index: 1000;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}

.dropdownItem {
    font-size: 0.9rem;
    margin: 0.3rem 0;
    padding: 0.5rem 0.2rem;
}

.dropdownItem:hover {
    background-color: rgba(180,180,180,0.2);
    border-radius: 5px;
    cursor: pointer;
}

